html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  box-sizing: border-box; }

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-size: 0.88em;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

body,
input,
textarea,
button,
select,
label,
p {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 0.88em;
  font-weight: normal;
  color: #34495e; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
  font-weight: normal; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  margin-top: 20px;
  font-size: 0.88em; }

h6 {
  margin-top: 20px;
  font-size: 12px; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1; }

.content > * {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

input,
textarea,
select {
  -webkit-touch-callout: default;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  -webkit-user-select: auto; }

a {
  color: #0084e7;
  text-decoration: none; }

.page {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  z-index: 1;
  background-color: #fff; }

.page.active {
  visibility: visible;
  z-index: 2; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.fit-parent {
  width: 100% !important;
  box-sizing: border-box; }

.fit-parent-max {
  max-width: 100%;
  box-sizing: border-box; }

.bottom {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 2; }

.top {
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 2; }

.text-inverse {
  color: #34495e; }

.text-default {
  color: #ecf0f1; }

.text-success {
  color: #2ecc71; }

.text-info {
  color: #3498db; }

.text-warning {
  color: #f1c40f; }

.text-primary {
  color: #1abc9c; }

.text-danger {
  color: #e74c3c; }

.padding {
  padding: 10px; }

.padding-h {
  padding: 0 10px 10px 0; }

.padding-v {
  padding: 10px 0 0 10px; }

.marge {
  margin-top: 10px; }

.inverse {
  background-color: #34495e !important; }

.default {
  background-color: #ecf0f1 !important;
  color: #444 !important; }

.success {
  background-color: #2ecc71 !important; }

.info {
  background-color: #3498db !important; }

.warning {
  background-color: #f1c40f !important; }

.primary {
  background-color: #1abc9c !important; }

.danger {
  background-color: #e74c3c !important; }

.sm {
  min-height: 40px !important; }

.large {
  min-height: 60px !important; }

.rounded {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; }

button {
  border: none;
  outline: none; }

.btn {
  position: relative;
  padding: 0 18px;
  display: inline-block;
  min-height: 45px;
  line-height: 1;
  font-size: 1em;
  color: #fff;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  outline: none;
  border: none; }
  .btn:active {
    opacity: 0.85; }

.list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  word-wrap: break-word; }

.list li {
  height: auto;
  min-height: 51px;
  line-height: 52px;
  display: block;
  border-bottom: 1px solid #eee;
  margin-left: 15px;
  word-wrap: break-word; }

.list li:first-child {
  margin-left: 0px;
  border-bottom: 0px; }

.list li:last-child {
  border-bottom: 0px; }

.list li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  box-sizing: border-box; }

.list li a:active {
  background-color: #eee; }

.list .divider {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  background-color: #f5f5f5; }

.list .divider,
.list .padded-list {
  padding: 0 16px; }

.list .btn {
  margin: 6px 6px 6px 6px; }

input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%; }

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  width: 100%;
  height: 48px;
  line-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #34495e;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #bdc3c7;
  outline: none;
  box-sizing: border-box; }

input:invalid,
.input-invalid {
  border-bottom-width: 2px !important;
  border-color: #e74c3c !important; }

input::-webkit-input-placeholder {
  padding: 0;
  font-size: 15px;
  color: #999; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  transition: padding-left 0.2s ease;
  border-bottom-width: 2px;
  border-color: #34495e;
  padding-left: 10px; }

label {
  width: 100%;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  font-size: 14px; }

.list label {
  height: 52px;
  line-height: 52px; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2.2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-top: 12px; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease; }
.tgl-light:checked + .tgl-btn {
  background: #34495e; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  z-index: 4;
  animation: fadeIn 1000ms;
  -webkit-animation: fadeIn 1000ms; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut {
  z-index: 3;
  animation: fadeOut 1000ms;
  -webkit-animation: fadeOut 1000ms; }

.slideLeft {
  z-index: 3;
  -webkit-animation: leftTransition 300ms ease-out;
  animation: leftTransition 300ms ease-out; }

.slideRight {
  z-index: 4;
  -webkit-animation: rightTransition 300ms ease-out;
  animation: rightTransition 300ms ease-out; }

@-webkit-keyframes leftTransition {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }
@keyframes leftTransition {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); } }
@-webkit-keyframes rightTransition {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); } }
@keyframes rightTransition {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); } }

/*# sourceMappingURL=camembert.css.map */
