
.header-bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: $navbar-height;
  overflow: hidden;
  background-color: $inverse-color;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header-bar .center {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
}
.header-bar .pull-left {
  padding-left: 16px;
}
.header-bar .pull-right {
  padding-right: 16px;
}
.header-bar .title {
  z-index: 10;
  font-size: 20px;
  color: #fff;
  height: $navbar-height;
  line-height: $navbar-height;
}
.header-bar .center .title {
  margin: 0 auto;
}
.header-bar .arrow {
  cursor: pointer;
}
.header-bar .arrow:after {
  position: relative;
  width: 0;
  height: 0;
  top: 16px;
  left: 6px;
  content: '';
  border-right: 4px solid transparent;
  border-top: 5px solid #fff;
  border-left: 4px solid transparent;
}
.header-bar .btn {
  position: relative;
  z-index: 22;
  padding: 0 12px;
  height: $navbar-height;
  line-height: $navbar-height;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.header-bar .btn:active {
  opacity: 1;
  background-color: #0084e7;
  background-color: rgba(0,0,0,0.1);
}

.has-header{
  top: $navbar-height;
}
