
.list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  word-wrap: break-word;
}
.list li {
  height: auto;
  min-height: 51px;
  line-height: 52px;
  display: block;
  border-bottom: 1px solid #eee;
  margin-left: 15px;
  word-wrap: break-word;
}

.list li:first-child{
  margin-left: 0px;
  border-bottom: 0px;
}

.list li:last-child{
  border-bottom: 0px;
}

.list li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  box-sizing: border-box;
}
.list li a:active {
  background-color: #eee;
}

.list .divider {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  background-color: #f5f5f5;
}
.list .divider,
.list .padded-list {
  padding: 0 16px;
}

.list .btn {
 margin: 6px 6px 6px 6px;
}
