//primary > Greenblue
$primary-color: #1abc9c;
$primary-color-d: #16a085;

//success > Green
$success-color: #2ecc71;
$success-color-d: #27ae60;

//Danger > Red
$danger-color: #e74c3c;
$danger-color-d: #c0392b;

//default >  grey
$default-color: #ecf0f1;
$default-color-d: #bdc3c7;

//inverse > Dark blue
$inverse-color: #34495e;
$inverse-color-d: #2c3e50;

//warning > Yellow
$warning-color: #f1c40f;
$warning-color-d: #f39c12;

//info > blue
$info-color:#3498db;
$info-color-d:#2980b9;

//font
$font: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$f-size: 0.88em;

//Radius value
$radius : 4px;

//Radius value
$navbar-height : 44px;

//put background color to something
@mixin backcolor($color) {
  background-color: $color !important;
}

//put background color to something
@mixin fontcolor($color) {
  color: $color !important;
}

// border radius mixin
@mixin border-radius($data) {
  border-radius: $data;
  -webkit-border-radius: $data;
  -moz-border-radius: $data;
  -ms-border-radius: $data;
  -o-border-radius: $data;
}

$icomoon-font-path: "fonts" !default;

$icon-bell: "\e006";
$icon-image: "\e010";
$icon-clock: "\e014";
$icon-watch: "\e015";
$icon-camera: "\e017";
$icon-cog: "\e023";
$icon-heart: "\e024";
$icon-reply: "\e039";
$icon-square-plus: "\e044";
$icon-square-minus: "\e045";
$icon-square-check: "\e046";
$icon-square-cross: "\e047";
$icon-play: "\e052";
$icon-pause: "\e053";
$icon-stop: "\e054";
$icon-location: "\e070";
$icon-location-2: "\e071";
$icon-map: "\e072";
$icon-battery: "\e073";
$icon-head: "\e074";
$icon-marquee-plus: "\e083";
$icon-marquee-minus: "\e084";
$icon-star: "\e093";
$icon-arrow-left: "\e094";
$icon-arrow-right: "\e095";
$icon-arrow-up: "\e096";
$icon-arrow-down: "\e097";
$icon-volume: "\e098";
$icon-mute: "\e099";
$icon-trash: "\e109";
$icon-menu: "\e120";
